.backImg {
  width: 100%;
  height: 900px;
  position: relative;
  margin-top: -20px;
}
.backImgs {
  margin-top: 250px;
  width: 100%;
  height: 600px;
  position: relative;
}

.headerText1 {
  width: 45%;
  color: rgb(146, 93, 33);
  position:absolute;
  top: 268px;
  right: 740px;
  font-family: "Mirza";

  font-size: 45px;
  text-align:center;
  /* margin-left: 70%; */
}

.headerText {
  float: left;
}
.pragraphs {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.pragraph1 {
  width: 40%;
  height: 20px;
  text-align: right;
  font-family: "Mirza", cursive;
  font-size: 20px;
  color: rgb(2, 2, 88);
}
.pragraph2 {
  width: 40%;
  text-align: right;
  font-family: "Mirza", cursive;
  font-size: 20px;
  color: rgb(2, 2, 88);
}
.title {
  margin-top: 90px;
  text-align: center;
  color: rgb(2, 2, 88);
}
