.backImg2 {
  width: 100%;
  height: 700px;
  position: relative;
  margin-top: -20px;
}
.picTourism{
width: 350px;
  height: 350px;
  border-radius: 20px;
}
.allTourism {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}
.oneTourism {
  width: 320px;
  height: 400px;
  padding: 10px;
  padding-bottom: 100px;
  margin: 40px 50px 0px 50px;
  transition: 0.5s ease;
  text-align: center;
}
.tourismName {
  margin-top: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.oneTourism :hover {
  transform: scale(1.1) perspective(0.1px);
  cursor: pointer;
}
/* .allTourism div img {
  width: 350px;
  height: 350px;
  border-radius: 20px;
} */
.text2 {
  width: 40%;
  color: #fff;
  line-height: 11rem;
  position: absolute;
  top: 268px;
  right: 450px;
  font-family: "Bukra Bold";
  font-size: 100px;
  margin-top: 1.4rem;
  text-align: center;
  margin-left: 50%;
}
