.footer {
  margin-top: 50px;
  color: white;
  background-color: #00000023;
  padding: 18px 0;
  width: 100%;
  position: absolute;
  margin-bottom: 0;
}

.footer ul {
  display: flex;
  justify-content: center;
}

.footer ul li {
  list-style: none;
}

#LiFooter {
  font-size: 30px;
  margin-left: 40px;
  margin-right: 40px;
}
#footer ul li a {
  text-decoration: none;
  color:rgb(2, 2, 88);
  font-size: 18px;
}
.icon{
    color: rgb(2, 2, 88);
}
