.ulNav {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  margin-right: 11%;
  /* border-bottom:0.5px solid rgb(0, 0, 0); ; */
}
.containerNav {
  /* opacity: 0.9; */
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-top: 10px;
  padding-right: 30%;
  font-family: fantasy;
  font-size: 20px;
}

.loguot{
  background-color:white;
  border-color: white;
  border-radius: px;

}

.lii {
  text-decoration: none;
  color: black;
  cursor: pointer;
  /* font-size: 3vh; */

  margin-left: 10px;
  list-style: none;

  /* color: black; */
  /* font-size: 18px; */
}

.linkk {
  text-decoration: none;
  color: rgb(2 2 88);
}

.linkk:hover {
  text-decoration: none;
  color: rgb(2 2 88);
  font-weight: 700;
}