.ulNav {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  margin-right: 11%;
}
.containerNav {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-top: 10px;
  padding-right: 30%;
  font-family: fantasy;
  font-size: 20px;
}

.loguot{
  background-color:white;
  border-color: white;
  border-radius: px;

}

.lii {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-left: 10px;
  list-style: none;
}

.linkk {
  text-decoration: none;
  color: rgb(2 2 88);
}

.linkk:hover {
  /* text-decoration: none; */
  color: rgb(2 2 88);
  /* font-weight: 700; */
}