
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Mirza&family=Tajawal:wght@200;800&display=swap');


*{
  margin: 0;
  padding: 0;
}
.ulNav {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  background-color: rgb(255, 255, 255);
  /* margin-right: 11%; */
}

.containerNav {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.01px solid  rgb(210, 210, 231);


}

/* h2 {
  margin-top: 10px;
  padding-right: 30%;
  font-family: fantasy;
  font-size: 20px;
} */

.loguot {
  background-color: white;
  border-color: white;
  border-radius: px;
}

.lii {
/*   
  margin-left: 13%;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 18px; */
font-family: 'Tajawal', sans-serif;
   text-decoration: none;
  color: black;
  cursor: pointer;
margin-right: 60px;
margin-left: 60px;
margin-top: 10px;
  list-style: none;  
}

.linkk {
  text-decoration: none;
  color: rgb(2 2 88);
}

.linkk:hover {
  /* text-decoration: none; */
  color: rgb(2 2 88);
  /* font-weight: 700; */
}
